name: Tests
on:
  pull_request: {}
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    name: ${{ matrix.python-version }}${{ matrix.slow && ' (slow)' || '' }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    env:
      FORCE_COLOR: "1"
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.13"
        - "3.12"
        - "3.11"
        - "3.10"
        - "3.9"
        os:
        - "ubuntu-latest"
        slow:
        - false
        include:
        - { python-version: "3.13", os: "ubuntu-latest", slow: true }
        - { python-version: "3.13", os: "windows-latest" }
        - { python-version: "3.13", os: "macos-latest" }

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
      id: python
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
        cache: pip

    - name: Install Hatch
      env:
        PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        pipx install --python=${{ steps.python.outputs.python-path }} hatch
        hatch --version

    - name: Test
      run: |
        hatch run test-cov -- ${{ matrix.slow && '-m slow' || '' }}

    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        include-hidden-files: true
        name: coverage-data-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.slow && 'slow' || 'fast' }}
        path: ".coverage.*"

    - if: ${{ !matrix.slow && matrix.os == 'ubuntu-latest' }}
      run: hatch run types:check

  coverage:
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
      with:
        python-version: "3.x"

    - name: Install Hatch
      env:
        PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        pipx install hatch
        hatch --version

    - uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e # v4.2.1
      with:
        pattern: coverage-data-*
        merge-multiple: true

    - run: hatch run cov-report
    - run: hatch run report -- xml
    - uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5.4.0
