name: Tests
on:
  pull_request: {}
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    name: ${{ matrix.python-version }}${{ matrix.slow && ' (slow)' || '' }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    env:
      FORCE_COLOR: "1"
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.12"
        - "3.11"
        - "3.10"
        - "3.9"
        - "3.8"
        os:
        - "ubuntu-latest"
        slow:
        - false
        include:
        - { python-version: "3.12", os: "ubuntu-latest", slow: true }
        - { python-version: "3.12", os: "windows-latest" }
        - { python-version: "3.12", os: "macos-latest" }

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      id: python
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
        cache: pip

    - name: Install Hatch
      env:
        PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        pipx install --python=${{ steps.python.outputs.python-path }} hatch
        hatch --version

    - name: Test
      run: |
        hatch run test-cov -- ${{ matrix.slow && '-m slow' || '' }}

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        include-hidden-files: true
        name: coverage-data-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.slow && 'slow' || 'fast' }}
        path: ".coverage.*"

    - if: ${{ !matrix.slow && matrix.os == 'ubuntu-latest' }}
      run: hatch run types:check

  coverage:
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.x"

    - name: Install Hatch
      env:
        PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
      run: |
        pipx install hatch
        hatch --version

    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        pattern: coverage-data-*
        merge-multiple: true

    - run: hatch run cov-report
    - run: hatch run report -- xml
    - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
